@import "tailwindcss";

@theme {
  --default-font-family: "Lato", "sans-serif";

  --color-*: initial;

  /* Colors */
  /* Brand */
  --color-blue-dark: #2e3da3;
  --color-blue-base: #5165e1;
  --color-blue-light: #8996eb;

  /* Grayscale */
  --color-gray-100: #151619;
  --color-gray-200: #1e2024;
  --color-gray-300: #535964;
  --color-gray-400: #858b99;
  --color-gray-500: #e3e5e8;
  --color-gray-600: #f9fafa;

  /* Feedback */
  --color-feedback-danger: #d03e3e;
  --color-feedback-open: #cc3d6a;
  --color-feedback-progress: #355ec5;
  --color-feedback-done: #508b26;

  --text-10px: 10px;
}

/* Largura da barra */
::-webkit-scrollbar {
  width: 6px;
}
/* Trilha (fundo) */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Parte móvel (thumb) */
::-webkit-scrollbar-thumb {
  background: var(--color-gray-400);
  border-radius: 5px;
}
/* Parte móvel ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-300);
}
