@import "tailwindcss";

@theme {
	--default-font-family: "Lato", "sans-serif";

	--color-*: initial;

	/* Colors */
	/* Brand */
	--color-blue-dark: #2E3DA3;
	--color-blue-base: #5165E1;
	--color-blue-light: #8996EB;

	/* Grayscale */
	--color-gray-100: #151619;
	--color-gray-200: #1E2024;
	--color-gray-300: #535964;
	--color-gray-400: #858B99;
	--color-gray-500: #E3E5E8;
	--color-gray-600: #F9FAFA;

	/* Feedback */
	--color-feedback-danger: #D03E3E;
	--color-feedback-open: #CC3D6A;
	--color-feedback-progress: #355EC5;
	--color-feedback-done: #508B26;
}

/* Largura da barra */
::-webkit-scrollbar {
  width: 6px;
}
/* Trilha (fundo) */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Parte móvel (thumb) */
::-webkit-scrollbar-thumb {
  background: var(--color-gray-400);
  border-radius: 5px;
}
/* Parte móvel ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-300);
}